<!--<p>
  <a class="btn-hover color-9 edit" routerLink="/editTopics">Edit</a>
</p>-->
<div class="background-form">
  <button class="btn-hover color-9 edit" nz-button [nzType]="'primary'" (click)="logout()">
    Logout
  </button>
</div>
