.background-form {
  background: rgb(2,0,36);
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  padding: 30px 70px 585px 70px;
  height:100%;
}

.btn-hover {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  padding: 10px 30px 30px 30px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-9.particles {
  transform: translateX(0%);
  position: relative;
  margin: 5px;
  width: 200px;
  height: 50px;
}

.btn-hover.color-9.edit {
  padding: 10px 150px 20px;
  height: 50px;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}
