.icons {
  cursor: pointer;
}
.icons:hover {
  color: white;
  background-color: black;
}
.heart {
  cursor: pointer;
  color: hotpink;
}
.heart:hover {
  background-color:black;
}
.bear {
  cursor: pointer;
  font-size: 16px;
}
