<app-back-item></app-back-item>
<h1>
  {{someInput}}
</h1>
<div class="some-parent">
  <span>Some span1</span>
  <div class="some-parent-2">
    <span>Some span2</span>
    <div class="some-parent-3">
      <span>Some span3</span>
    </div>
  </div>
</div>
<div>
  <input [(ngModel)]="firstName" placeholder="Enter first name" />
  <input [(ngModel)]="lastName" placeholder="Enter last name" />
  <input [(ngModel)]="age" placeholder="Enter age name" type="number" />
  <input [(ngModel)]="login" placeholder="Enter login name" type="text" />
</div>
<button (click)="addUser(firstName,lastName,age,login)">Add</button>
<div class="some-arr">
  <div class="some-item" *ngFor="let user of users" (click)="someClick(user)">
    <span>
      Name: '{{
user.firstName
      }}', LastName: '{{user.lastName}}', Age: '{{user.age}}', Login: '{{user.login}}'
    </span>
    <button (click)="deleteUser(user)" class="delete-btn">Delete</button>
    <button (click)="editUser(user)" class="edit-btn">Edit</button>
  </div>
</div>

<div>
  <ng-container *ngFor="let usr of users">
    <app-user [user]="usr" (onChanged)="incrementSomeCounter($event)"
              (onChangedForDouble)="incrementSomeCounter($event)"
              (onChangedPink)="anotherColor($event)"
              (onChangedBlue)="anotherColor($event)"
              (onChangedBear)="backgroundColor($event)"></app-user>
  </ng-container>
</div>

<div>Counter: {{someCounter}}</div>
<div [style.color]="someColor" [style.background-color]="backGroundColor">String: {{someString2}}</div>

<div *ngIf="editUserModel !== null">
  <button (click)="saveUser()">Save</button>
  <button (click)="cancelUser()">Cancel</button>
  <div>
    <input [(ngModel)]="editUserModel.firstName" placeholder="Enter first name" />
    <input [(ngModel)]="editUserModel.lastName" placeholder="Enter last name" />
    <input [(ngModel)]="editUserModel.age" placeholder="Enter age name" type="number" />
    <input [(ngModel)]="editUserModel.login" placeholder="Enter login" />
  </div>
</div>
<div>{{ error }}</div>

<app-some-easy [myInput]="'Hello from 1/4/2021'"></app-some-easy>
<app-some-easy [myInput]="'Tomorrow will be 1/5/2021'" [mySecondInput]="87"></app-some-easy>

