/*.some-parent {
  color: red;
  font-size:30px;
}
.some-parent .some-parent-2 {
  color: blue;
}

  .some-parent .some-parent-2 > .some-parent-3 {
  color: aqua;
}

.some-parent .some-parent-2 .some-parent-3 {
  color: aqua;
}*/

.some-parent {
  color: red;
  font-size: 30px;

  .some-parent-2 {
    color: blue;

    .some-parent-3 {
      color: aqua;
    }
  }
}

.some-arr {
  border: 6px solid green;

  .some-item {
    background-color: darkcyan;
    color: antiquewhite;
    margin: 5px;
    cursor: pointer;

    .delete-btn {
      color: red;
    }

    .edit-btn {
      color: dimgray;
    }
  }
}
