.edit-icon {
  padding: 5px;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.add-name-new-topic {
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px auto 10px auto;
}

.button-add-cancel {
  color: #fff;
  border-radius: 5px;
  background-color: #1890ff;
  border-color: #1890ff;
  margin: 2px 5px 2px 5px;
}

.router {
  color: #fff;
  border-radius: 5px;
  background-color: #1890ff;
  border-color: #1890ff;
  margin: 2px 5px 2px 5px;
  padding: 10px 30px 10px 30px;
}

.input-topic {
  border-radius: 5px;
}



.button-add {
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
  padding: 5px 30px 10px 30px;
}

.ant-btn-primary {
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
  padding: 10px 30px 30px 30px;
}

.edit-icon:hover {
  color: white;
  background-color: black;
}

.backgrounds-form {
  background: rgb(2,0,36);
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  padding: 30px;
  background-size: 100%;
  min-height: 100%;
}

.topics-theme {
  font-size: 20px;
  margin: 12px auto 12px auto;
  white-space: nowrap; 
  overflow: hidden;
  padding: 5px;
  background-color: #F5DEB3;
  text-align: center;
  position: relative;
  width: 600px;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 40px;
  text-align: center;
  border: none;
  margin: 10px auto 10px auto;
  background-size: 300% 100%;
  padding: 10px 30px 30px 30px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.span-field {
  cursor: pointer;
}

.span-field:hover {
  color: crimson;
/*  padding: 20px;
  border: 1px solid;
  border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
  border-image-slice: 1;*/
}
