<div class="backgrounds-form">
  <button nz-button [nzType]="'primary'" class="btn-hover color-9" (click)="showModal()"><span>Add</span></button>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Enter name of topic for add!"
            (nzOnCancel)="handleCancel()" (nzOnOk)="addTopic(newNameOfTopic)"
            [nzOkDisabled]="!newNameOfTopic">
    <ng-container>
      <div>
        <input class="input-topic" placeholder="Add name of topic" [(ngModel)]="newNameOfTopic" />
      </div>
    </ng-container>
  </nz-modal>
  <app-back-item></app-back-item>

  <div>
    <ng-container *ngFor="let topic of topics">
      <div class="topics-theme">
        <span  class="span-field"
              (click)="goToEditTopic(topic.id)"> {{topic.name}} ({{topic.totalCount}})</span>
        <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"
           (click)="goToEditTopic(topic.id)"></i>
        <i nz-icon nzType="delete" nzTheme="outline" class="edit-icon"
           nz-popconfirm
           nzPopconfirmTitle="Are you sure delete this topic?"
           (nzOnConfirm)="deleteTopic(topic.id)"
           (nzOnCancel)="cancel()"
           nzPopconfirmPlacement="right">
        </i>

      </div>
    </ng-container>
  </div>
</div>


