.background-forms {
  background: rgb(2,0,36);
  /*background: linear-gradient(120deg, #84fab0, #8fd3f4);*/
  /*background: linear-gradient(120deg, #d299c2 0%, #fef9d7 100%);*/
  background: linear-gradient(120deg, #fddb92 0%, #d1fdff 100%);
  min-height: 100%;
  padding: 20px;
}

.topics-theme {
  font-size: 20px;
}

.button-add-cancel {
  color: #fff;
  border-radius: 5px;
  background-color: #1890ff;
  border-color: #1890ff;
  margin: 2px 5px 2px 5px;
  cursor: pointer;
}

.button-add {
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px auto 10px auto;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}

.button-add:hover {
  background-color: #6495ED;
  color: #fff;
}

.edit-icon {
  margin: 3px 5px;
  font-size: 20px;
  cursor: pointer;
}

.edit-icon:hover, .my-play:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}

.my-play {
  font-size: 20px;
  cursor: pointer;
}

.button-select {
  margin: 7px;
}

.btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  /*border-radius: 50px;*/
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.checkbox-container {
  padding-right: 20px;
}
.word-type-select {
  min-width: 130px;
}
