<div class="background-forms">
  <h1>
    <span>{{ topic? topic.name: '' }}</span>
    <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"
       (click)="isEdit=true;newTopicName=topic.name"></i>
  </h1>
  <div *ngIf="!isSelect">
    <div *ngIf="isEdit">
      <input placeholder="Add new topic name" [(ngModel)]="newTopicName" />
      <button class="button-add-cancel" (click)="saveNameOfTopic(newTopicName);isEdit=false">Save</button>
      <button class="button-add-cancel" (click)="isEdit=false">Cancel</button>
    </div>
  </div>
  <app-back-item></app-back-item>
  <div>
    <div *ngIf="!isSelect">
      <button class="btn-hover color-9" nz-button [nzType]="'primary'" (click)="showModal()"><span>Add new</span></button>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="Enter word" (nzOnCancel)="handleCancel()"
                [nzOkDisabled]="!wordEngForAdd || !wordRusForAdd"
                (nzOnOk)="addWord(wordEngForAdd,wordRusForAdd,partOfSpeechForAdd);wordEngForAdd='';wordRusForAdd=''">
        <ng-container>
          <div>
            <input class="input-user" placeholder="Add wordEng" [(ngModel)]="wordEngForAdd" />
          </div>
          <div>
            <input class="input-user" placeholder="Add wordRus" [(ngModel)]="wordRusForAdd" />
          </div>
          <nz-select [(ngModel)]="partOfSpeechForAdd" class="word-type-select">
            <nz-option [nzValue]="1" nzLabel="Noun"></nz-option>
            <nz-option [nzValue]="2" nzLabel="Ajective"></nz-option>
            <nz-option [nzValue]="3" nzLabel="Verb"></nz-option>
          </nz-select>
        </ng-container>
      </nz-modal>
      <button class="btn-hover color-9" nz-button [nzType]="'primary'" (click)="showCheckBox()">
        <span>
          Select
        </span>
      </button>
      </div>
      <span *ngIf="isSelect">
        <button class="btn-hover color-9" nz-button [nzType]="'primary'"
                (click)="deleteWords()">
          <span>
            Delete
          </span>
        </button>
        <button class="btn-hover color-9" nz-button [nzType]="'primary'"
                (click)="Cancel()">
          <span>
            Cancel
          </span>
        </button>
      </span>
    </div>

    <div *ngIf="words">
      <ng-container *ngFor="let word of words; index as i">
        <div>
          <span *ngIf="isSelect" class="checkbox-container">
            <label nz-checkbox nzValue="A" [(ngModel)]="word.isSelected">
            </label>
          </span>

          <span class="topics-theme">
            {{i+1}}) {{word.wordEng}}  -  {{word.wordRus}}  -  {{word.partOfSpeech}}
          </span>
          <span *ngIf="!isSelect">
            <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"
               (click)="word.isEdit=true;word.newWordEng=word.wordEng;
         word.newWordRus=word.wordRus;word.newPartOfSpeech=word.partOfSpeech"></i>

            <i nz-icon nzType="delete" nzTheme="outline" class="edit-icon"
               nz-popconfirm
               nzPopconfirmTitle="Are you sure delete this topic?"
               (nzOnConfirm)="deleteWord(word.id)"
               (nzOnCancel)="cancel()"
               nzPopconfirmPlacement="right">
            </i>
            <i nz-icon nzType="play-square" nzTheme="outline" class="my-play"
               (click)="playClick(word.voicePath)" nz-tooltip nzTooltipTitle="Press any key"></i>
          </span>
        </div>
        <div *ngIf="word.isEdit">
          <input placeholder="Add new wordEng" [(ngModel)]="word.newWordEng" />
          <input placeholder="Add new wordRus" [(ngModel)]="word.newWordRus" />
          <input placeholder="Add new partOfSpeech" [(ngModel)]="word.newPartOfSpeech" />
          <button class="button-add-cancel" (click)="
        saveEditedWord(word.id,word.newWordEng,word.newWordRus,word.newPartOfSpeech);
              word.isEdit=false;word.newWordEng='';word.newWordRus='';word.newPartOfSpeech=''">
            Save
          </button>
          <button class="button-add-cancel" (click)="word.isEdit=false">Cancel</button>
        </div>
      </ng-container>
    </div>
  </div>
