.container {
  background: rgb(2,0,36);
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
  /*background: linear-gradient(120deg,#baedff,#07a2da);*/
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  padding: 30px;
  background-size: 100;
  height: 100%;

  .theme {
    color: black;
    padding: 20px 100px 20px 100px;
    font-size: 20px;
    /* float: left;*/
    background-color: #D2B48C;
    text-align: center;
    margin-left: 30px;
    width: 600px;
    margin: 10px auto 10px auto;
  }

  .field {
    width: 750px;
    padding: 20px;
    margin: 12px auto 12px auto;
    font-size: 50px;
    color: black;
    background-color: #F5DEB3;
    text-align: center;
    position: relative;
    min-height: 60px;

    .my-play {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }

  .dot-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    position: relative;
    bottom: 10px;

    .isCurrent {
      color: white;
    }

    .dot {
      font-size: 17px;
    }
  }

  .none {
    padding: 50px;
  }
}
