<div class="container" *ngIf="isLoaded; else some">
  <div class="theme">
    <span class="greeting">Press space to view the translation</span>
  </div>
  <div class="none">
  </div>
  <div *ngIf="typeOfLearn == TypeOfLearnEnum.LearnByText">
    <div class="field">
      <i nz-icon nzType="play-square" nzTheme="outline" class="my-play"
         (click)="playClick()" nz-tooltip nzTooltipTitle="Press any key"></i>
      <span *ngIf="!isBackWay">{{words[currentWordIndex].wordEng}}</span>
      <span *ngIf="isBackWay">{{words[currentWordIndex].wordRus}}</span>
    </div>
    <div class="field">
      <span [style.visibility]="isShowTranslate? 'visible' : 'hidden'" *ngIf="!isBackWay">{{words[currentWordIndex].wordRus}}</span>
      <span [style.visibility]="isShowTranslate? 'visible' : 'hidden'" *ngIf="isBackWay">{{words[currentWordIndex].wordEng}}</span>
    </div>
  </div>
  <div *ngIf="typeOfLearn == TypeOfLearnEnum.LearnBySound">
    <div class="field">
      <i nz-icon nzType="play-square" nzTheme="outline" class="my-play"
         (click)="playClick()" nz-tooltip nzTooltipTitle="Press any key"></i>
      <span [style.visibility]="isShowTranslate? 'visible' : 'hidden'" *ngIf="!isBackWay">{{words[currentWordIndex].wordEng}}</span>
      <span [style.visibility]="isShowTranslate? 'visible' : 'hidden'" *ngIf="isBackWay">{{words[currentWordIndex].wordRus}}</span>
    </div>
    <div class="field">
      <span [style.visibility]="isShowTranslate? 'visible' : 'hidden'" *ngIf="!isBackWay">{{words[currentWordIndex].wordRus}}</span>
      <span [style.visibility]="isShowTranslate? 'visible' : 'hidden'" *ngIf="isBackWay">{{words[currentWordIndex].wordEng}}</span>
    </div>
  </div>

  <app-back-item></app-back-item>
  <div class="dot-container">
    <span *ngFor="let word of words; index as i" class="dot" [class.isCurrent]="i === currentWordIndex">&bull;</span>
  </div>
</div>

<ng-template #some>
  <div>Loading ...</div>
</ng-template>

<nz-modal [(nzVisible)]="isDone"
          [nzFooter]="modalFooter"
          nzTitle="Finished!" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <h4>Perfectly!</h4>
  <p>Now you can click "Again" or "To reverse" to consolidate knowledge</p>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleAgainWithRevers()">To reverse</button>
    <button nz-button nzType="default" (click)="handleAgain()">Again</button>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">Go to dashboard</button>
  </ng-template>
</nz-modal>
