<h1 class="some-class">Nasya + Iurii = Love</h1>

<p>some-easy works!</p>
<nz-card style="width:300px;" nzTitle="Card title" [nzExtra]="extraTemplate">
  <p>{{myInput}}</p>
  <h1>{{mySecondInput}}</h1>
  <p>Card content</p>
  <p>Card content</p>
  <p>Card content</p>
</nz-card>
<ng-template #extraTemplate>
  <a>More</a>
</ng-template>

