<div class="background-form">
  <h1 class="welcome">With languages, you're at home anywhere!</h1>

  <!--<p>
    <a class="btn-hover color-9 edit" routerLink="/editTopics">Edit</a>
  </p>-->

  <div>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8" *ngFor="let topic of topics; index as i">
        <nz-card [nzTitle]="titleCard" class="my-card">
          <nz-tree [nzData]="listNodes[i]"
                   nzCheckable
                   nzMultiple
                   [nzCheckedKeys]="defaultCheckedKeys"
                   [nzExpandedKeys]="defaultExpandedKeys"
                   [nzSelectedKeys]="defaultSelectedKeys"
                   (nzClick)="selectTopic(topic)"
                   (nzExpandChange)="selectTopic(topic)"
                   (nzCheckBoxChange)="selectTopic(topic)">
          </nz-tree>
        </nz-card>
        <ng-template #titleCard>
          <div>
            <span>{{topic.name}} ({{topic.totalCount}})</span>
            <label (ngModelChange)="selectTopic(topic)" class="my-check-box"
                   [nzDisabled]="topic.totalCount === 0" nz-checkbox [(ngModel)]="topic.sdf"></label>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="my-start-buttons">
    <button class="btn-hover color-9 particles"
            (click)="startLearnByText(); createBasicNotification()" [disabled]="totalSelected === 0"
            nz-button nzType="primary" nzBlock>
      Learn by text ({{totalSelected}})
    </button>
    <button class="btn-hover color-9 particles"
            (click)="startLearnBySound(); createBasicNotification()" [disabled]="totalSelected === 0"
            nz-button nzType="primary" nzBlock>
      Learn by sound ({{totalSelected}})
    </button>
  </div>
</div>
