.some-class {
  color: red;
}
.welcome {
  font-family: cursive;
  text-align: center;
}


.my-card {
  margin: 10px;
}

.my-check-box {
  right: 15px;
  position: absolute;
}

.my-start-buttons {
  width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: center;

  .my-start-button {
    margin-right: 20px;
    width: 200px;
  }
}


.background-form {
  /*background: #ECECEC;*/
  background: rgb(2,0,36);
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
  /*background: linear-gradient(120deg,#baedff,#07a2da);*/
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  padding: 30px;
  height: 100%;
}

.theme-5 {
  --color-item-bg: linear-gradient(120deg,#baedff,#07a2da);
  --color-action: #003ff1;
  --color-button-bg: #003ff1;
  --color-button-text: #fff;
  --button-padding: 1rem 2rem;
  --radius-button: 5px;
  --border-button: 0;
}

.btn-hover {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  /*margin: 10px auto 10px auto;*/
  background-size: 300% 100%;
  padding: 10px 30px 30px 30px;
  /*border-radius: 50px;*/
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-9.particles {
  transform: translateX(0%);
  position: relative;
  margin: 5px;
  width: 200px;
  height: 50px;
}

.btn-hover.color-9.edit {
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: center;
  margin: 30px 200px 30px 200px;
  height: 45px;
}
