<div class="boddy">
  <div class="ribbon"></div>
  <div class="login">
    <h1>Let's get started.</h1>
    <p>Fill in your email and password</p>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your E-mail!">
          <nz-input-group nzPrefixIcon="user">
            <div class="input">
              <div class="blockinput">
                <input type="text" nz-input formControlName="email" placeholder="E-mail" />
                </div>
              </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <div class="input">
              <div class="blockinput">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
                </div>
              </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
      </div>
      <button class="login-form-button login-form-margin"
              nz-button [nzType]="'primary'">
        Log in
      </button>
      Or <a [routerLink]="'/account/register'"> register now! </a>
    </form>
  </div>
</div>
