.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.boddy {
  background: rgb(2,0,36);
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  padding: 10px 0px 180px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
}

h2 {
  text-align: center;
  color: #F1F2F4;
  text-shadow: 0 1px 0 #000;
}

a {
  text-decoration: none;
  color: #EC5C93;
}

.ribbon {
  background: rgba(200,200,200,.5);
  width: 50px;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 19px;
  border: 1px solid rgba(255,255,255,.3);
  border-top: 2px solid rgba(255,255,255,.5);
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 3px rgba(0,0,0,.7);
}

.ribbon:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #4E535B;
  border: 4px solid #cfd0d1;
  margin: 18px auto;
  box-shadow: inset 0 0 5px #000, 0 0 2px #000, 0 1px 1px 1px #A7A8AB;
  border-radius: 100%;
}

.login {
  background: #F1F2F4;
  border-bottom: 2px solid #C5C5C8;
  border-radius: 5px;
  text-align: center;
  color: #36383C;
  text-shadow: 0 1px 0 #FFF;
  max-width: 300px;
  margin: 0 auto;
  padding: 15px 40px 20px 40px;
  box-shadow: 0 0 3px #000;
}

.login:before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background: #4E535B;
  border-radius: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 2px solid #CBCBCD;
  margin: 0 auto;
}

h1 {
  font-size: 1.6em;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  color: #7B808A;
  margin-top: 0;
  margin-bottom: 30px;
}

.input {
  text-align: right;
  background: #E5E7E9;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 0 3px #65686E;
  border-bottom: 1px solid #FFF;
  text-align: center;
}

input {
  /*width: 260px;*/
  background: transparent;
  border: 0;
  line-height: 3.6em;
  box-sizing: border-box;
  color: #71747A;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 1px 0 #FFF;
  text-align: center;
}

input:focus {
  outline: none;
}

.blockinput {
  border-bottom: 1px solid #BDBFC2;
  border-top: 1px solid #FFFFFF;
}

.blockinput:first-child {
  border-top: 0;
}

.blockinput:last-child {
  border-bottom: 0;
}

.blockinput i {
  padding-right: 10px;
  color: #B1B3B7;
  text-shadow: 0 1px 0 #FFF;
}

::-webkit-input-placeholder {
  color: #71747A;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 1px 0 #FFF;
}

